.button {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  outline: 0;
  border: 0;
  background: transparent;
}

.uppercase {
  text-transform: uppercase;
}

.button:hover:not(.disabled) {
  cursor: pointer;
}

.primary {
  color: #ffffff;
  background-color: #d76acd;
}

.secondary {
  color: #ffffff;
  background-color: #594a9b;
}

.basic {
  color: #ffffff;
}

.primary.disabled,
.secondary.disabled,
.basic.disabled {
  opacity: 0.5;
}

.displayBlock {
  display: block;
}

/* Size */
.size_xs {
  height: 30px;
  font-size: var(--font-size-sm);
  padding-left: 14px;
  padding-right: 14px;
}

.size_sm {
  height: 36px;
  font-size: var(--font-size-sm);
  padding-left: 18px;
  padding-right: 18px;
}

.size_md {
  height: 42px;
  font-size: var(--font-size-sm);
  padding-left: 22px;
  padding-right: 22px;
}

.size_lg {
  height: 50px;
  font-size: var(--font-size-sm);
  padding-left: 26px;
  padding-right: 26px;
}

.size_xl {
  height: 60px;
  font-size: var(--font-size-sm);
  padding-left: 32px;
  padding-right: 32px;
}

/* Radius  */

.radius_xs {
  border-radius: 2px;
}

.radius_sm {
  border-radius: 4px;
}

.radius_md {
  border-radius: 8px;
}

.radius_lg {
  border-radius: 16px;
}

.radius_xl {
  border-radius: 32px;
}
