:root {
  --font-size-sm: 12px;

  --color-primary: #d76acd;
  --color-secondary: #6435c9;
  --color-secondary-2: #594a9b;

  --radicalRed: #f36;
  --viking: #50d3c2;
  --black: #000;
  --gray: #767676;
  --grayedWhite: #ececec;
  --offWhite: #e0e0e0;
}
